<!-- Footer -->
<footer id='join-us'>
    <div class="footer-div">
    <h2>{{i18n "join-us"}}</h2>
    <ul class="social social-circle">
        <li class="social-links"><a href="https://codema.in/free-software-community-of-india-fsci/" target="_blank"><img width=42px src='{{"img/discussion.png" | absURL }}'></a>{{i18n "forum"}}</li>
        <li class="social-links"><a href="https://chat.poddery.com/#/room/#fsci:poddery.com" target="_blank"><img width=42px src='{{"img/conversation.png" | absURL}}'></a>{{i18n "chat"}}</li>
        <li class="social-links"><a href="https://diasp.in/u/poddery" target="_blank"><img src='{{"img/diaspora.png" | absURL}}'></a>{{i18n "diaspora"}}</li>
        <li class="social-links"><a href="https://lists.fsci.in/postorius/lists/fsci-discuss.lists.fsci.org.in/" target="_blank"><img width=42px src='{{"img/mail.png"|absURL}}'><a>{{i18n "mail"}}<li>
    </ul>
    <div class="col-md-12 text-center">
        <p>{{i18n "coc" | safeHTML }}</p>
        <p>{{i18n "copyheart" | safeHTML}}</p>
    </div>
    <div>
</footer>
