{{define "main"}}
<main>
    <section id="home" class="presentation">
        <div class="cover">
            <img src='{{"img/fscilogo.svg" | absURL}}' alt="FSCI logo" />
        </div>
        <div class="introduction">
            <div class="intro-text">
                <h1>{{ i18n "fsci" }}</h1>
                <p>{{ i18n "description" }}</p>
                <div class="cta">
                    <a href='{{"about"| relLangURL}}'><button>{{i18n "about-us"}}</button></a>
                    <a href='{{ "#join-us" | relLangURL}}'><button>{{i18n "join-us"}}</button></a>
                </div>
            </div>
        </div>
    </section>
    <div class="circles">
        <img class="small-circle" src='{{"img/smallcircle.svg" | absURL}}' alt="" />
        <img class="big-circle" src='{{"img/bigcircle.svg" | absURL}}' alt="" />
        <img class="bigger-circle" src='{{"img/biggercircle.svg" | absURL}}' alt="" />
    </div>
    <section id="statements">
        <h1>{{i18n "recent-blogs"}}</h1>
    <div class="statements-section">
          {{ range first 3 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
        <div class="statement">
            <h3><a class="link" href="{{.RelPermalink}}">{{.Title}}</a><br></h3>
                      <small class="text-muted">{{ .PublishDate.Format "January 2, 2006" }}</small>
                      <p>{{ .Summary }}</p>
        </div>
                  {{end}}
    </div>
    </section>
    <section id="poddery" class="poddery">
        <div class="poddery-intro">
            <div class="poddery-logo">
                <img  src='{{"img/poddery.svg" | absURL }}'>
            </div>
            <div class="poddery-intro-text">
                <h1>{{i18n "poddery"}}</h1>
                <p>{{i18n "poddery-about"}}</p>
            </div>
            <div class="cta-poddery">
                <button onclick="window.location.href = 'https://poddery.com/users/sign_up';">{{i18n "join-poddery"}}</button>
            </div>
        </div>
        <div class="poddery-services-list">
            <div class="poddery-services first">
                <img class="services-logo" src='{{"img/diaspora.svg" | absURL}}'>
                <h4><a class="link" href="https://poddery.com/">{{i18n "poddery-diaspora"}}</a></h4>
                <p>{{i18n "poddery-diaspora-about"}}</p>
            </div>
            <div class="poddery-services second">
                <img class="services-logo" src='{{"img/matrix.svg" | absURL}}'>
                <h4><a class="link" href="https://chat.poddery.com/">{{i18n "poddery-matrix"}}</a></h4>
                <p>{{i18n "poddery-matrix-about"}}</p> <a class="link" href="https://matrix.org/clients/">{{i18n "poddery-matrix-clients"}}</a>
            </div>
            <div class="poddery-services third">
                <img class="services-logo" src='{{"img/xmpp.svg" | absURL}}'>
                <h4><a class="link" href="https://xmpp.org">{{i18n "poddery-xmpp"}}</a></h4>
                <p>{{i18n "poddery-xmpp-about"}}</p> <a class="link" href="https://xmpp.org/software/clients.html">{{i18n "poddery-xmpp-clients"}}</a>
            </div>
        </div>
    </section>
    <section  id="otherservices" class="services">
    <h1>{{i18n "fsci-services"}}</h1>
<div class="other-services first">
    <div class="service-block">
        <img class="services-logo" src='{{"img/edit.svg" | absURL}}'>
        <h2>{{i18n "fsci-wiki"}}</h2>
        <p>{{i18n "fsci-wiki-about" | safeHTML}}</p>
    </div>
    <div class="service-block second">
        <img class="services-logo" src='{{"img/map-marker-alt.svg" | absURL}}'>
        <h2>{{i18n "free-software-groups"}}</h2>
        <p>{{i18n "free-software-groups-about" | safeHTML}}</p>
    </div>
    <div class="service-block third">
        <img class="services-logo" src='{{"img/gitlab.svg" | absURL}}'>
        <h2>{{i18n "git-hosting"}}</h2>
        <p>{{i18n "git-hosting-about" | safeHTML}}</p>
    </div>
    <div class="service-block first">
        <img class="services-logo" src='{{"img/envelope.svg" | absURL}}'>
        <h2>{{i18n "mailing-lists"}}</h2>
        <p>{{i18n "mailing-lists-about" | safeHTML}}</p>
    </div>
    <div class="service-block second">
        <img class="services-logo" src='{{"img/comments.svg" | absURL}}'>
        <h2>{{i18n "discussion-forum"}}</h2>
        <p>{{i18n "discussion-forum-about" | safeHTML}}</p>
        </div>
        <div class="service-block third">
        <img class="services-logo" src='{{"img/chart-bar.svg" | absURL}}'>
        <h2>{{i18n "codema"}}</h2>
        <p>{{i18n "codema-about" | safeHTML}}</p>
        </div>
    <div class="service-block first">
        <img class="services-logo" src='{{"img/headphones-solid.svg" | absURL}}'>
        <h2>{{i18n "jitsi"}}</h2>
        <p>{{i18n "jitsi-about" | safeHTML}}</p>
    </div>
</div>
</section>
</main>
{{end}}
